/* Media Queries */

@media (max-width:604px) {
    #nav-2{
        display: none;
    }
    .menu{
        display: block;
    }
    #logo{
        margin-top: 4px;
      }
      #fm-div{
        height: 100%;
        width: 70%;
      }
      #btn{
        height: 30px;
        width: 50%;
      }
      .metrics{
        margin: 10px;
      }
}